@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
section header#cabecalho{
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}
section header#cabecalho h1{
    text-align: center;
}
section aside{
    margin: 5;
    float: right;
    display: inline-block;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: 43%;
}

aside div.artigo{
    text-align: justify;
    margin: 5px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    height: 230px;
}
aside div.artigo h3{
    position: relative;
    margin: 5px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}
aside div.artigo figure{
    display: inline-block;
    margin: 5px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}
aside div.artigo figure img{
    height: 177px;
    width: 140px;
}
aside div.artigo div{
    float: right;
    margin: 5px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: 70%;
}