@charset "UTF-8";
section article{
    text-align: justify;
    padding: 5px;
    width: 99%;
}

section article figure{
    margin-top: 5%;
    display: inline-block;
    background-color: rgba(10, 10, 10, .5);
    border-radius: 10px;
    margin-left: 10%;
}
section article figure img{
    border-radius: 50%;
    background-position: -15px -15px;
    height: 300px;
    width: 300px;
}
section article hgroup{
    padding: 10px;
    margin-top: 5%;
    display: inline-block;
    float: right;
    border-radius: 10px;
    background-color: rgba(10, 10, 10, .5);
    width: 50%;
}