@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
section article{
    text-align: justify;
    padding: 5px;
    width: 99%;
    height: auto;
}
ul#album-fotos{
    width: 1000px;
    margin: 0 auto;
    padding-left: 50px;
    overflow: hidden;
    list-style: none;
}
ul#album-fotos li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    -webkit-transition: all .4s ease-in;
    /*efeito de transição*/
}

ul#album-fotos li span{
    opacity: 0;
    font-size: 9pt;
    background-color: rgba(0, 0, 0, .3);
    text-shadow: 1px 1px 1px black;
    color: #ffffff;
    line-height: 370px;
    padding-left: 5px;
    
}
ul#album-fotos li:hover span{
    opacity: 1;
}

ul#album-fotos li:hover{
    -webkit-transform:scale(1.5);
    /*almenta a escala da LI para que a foto fique maior*/
}

/* Atribuindo imagens as Lis por id */
ul#album-fotos li#foto01{
    background: url('../_imagens/galeria_01.jpg') no-repeat;
    background-position: 50% 50%;
     /*posição da imagem porcentagem da quantidade horizontal e vertical*/
    background-color: #ffffff;
    background-size: 400px 400px;
}
ul#album-fotos li#foto02{
    background: url('../_imagens/galeria_02.jpg') no-repeat;
    background-position: 50% 50%;
    /*porcentagem da quantidade horizontal e vertical*/
    background-color: #ffffff;
    background-size: 400px 400px;
}
ul#album-fotos li#foto03{
    background: url('../_imagens/galeria_03.jpg') no-repeat;
    background-position: 50% 50%;
    background-color: #ffffff;
    background-size: 400px 400px;
}
ul#album-fotos li#foto04{
    background: url('../_imagens/galeria_04.jpg') no-repeat;
    background-position: 50% 50%;
    background-color: #ffffff;
    background-size: 400px 400px;
}
ul#album-fotos li#foto05{
    background: url('../_imagens/galeria_05.jpg') no-repeat;
    background-position: 50% 50%;
    background-color: #ffffff;
    background-size: 400px 400px;
}
ul#album-fotos li#foto06{
    background: url('../_imagens/galeria_06.jpg') no-repeat;
    background-position: 50% 50%;
    background-color: #ffffff;
    background-size: 400px 400px;
}
ul#album-fotos li#foto07{
    background: url('../_imagens/galeria_07.jpg') no-repeat;
    background-position: 50% 50%;
    background-color: #ffffff;
    background-size: 400px 400px;
}
ul#album-fotos li#foto08{
    background: url('../_imagens/galeria_08.jpg') no-repeat;
    background-position: 50% 50%;
    background-color: #ffffff;
    background-size: 400px 400px;
}

/*Formatação de ZoonOut das LIs*/
ul#album-fotos li#foto01:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto02:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto03:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto04:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto05:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto06:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto07:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto08:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#galeria a:hover{
    background: none;
}